body {
    margin: 0;
}

.contenedor {
    width: 500px;
    height: 200px;
    border: 1px solid #000000;
    display: flex;
}

.caja1 {
    width: 50px;
    height: 50px;
    border: 1px solid red;
}


.caja2 {
    width: 50px;
    height: 50px;
    border: 1px solid green;
}


.caja3 {
    width: 50px;
    height: 50px;
    border: 1px solid blue;
}